# t-pen.org credentials
username: TPENUSER
password: TPENPASS

# Do we want to see all the debugging output?
debug: false

# Where and how much to log. If logfile isn't specified it defaults
# to stdout.
# logfile: tpenbackup.log
loglevel: INFO

# timeout when accessing t-pen
timeout: 120

# give up after this many timeouts
max_errors: 5

# URLs to access T-PEN
uri_index: http://t-pen.org/TPEN/index.jsp
uri_login:  http://t-pen.org/TPEN/login.jsp
uri_project: http://t-pen.org/TPEN/project/
uri_user: http://t-pen.org/TPEN/geti?uid=

# Labels of T-PEN projects to exclude from the backup
# best prepended by a comment about the exception
blacklist:
    # https://github.com/DHUniWien/MatthewEdessa/issues/2
    - "MiSy V I 121r-130r"
    - "MiSy V I 130v-150r"
    - "MiSy V I 150v-162r"
    - "MiSy V I 162v-181r"
    - "MiSy V I 181v-208r"
    - "MiSy V I 208v-244r"
    - "Oxford, Bodleain Library Arm e.32"
    - "Palaeography Practice"

# Keep these files in the repository even if they are not on T-PEN
keeplist:
    - "tei-xml"
    - "config.py"
