tpen-data-uri: 

repo-config-uri: 
repo-config-path: 

# for the backup step
tpen-merge: "yes"

# for the validation step
enforce-validity: "yes"
relaxng_schema: .../tei_all.rng

# for the feed step
api-base: https://api.editions.byzantini.st/ChronicleME/stemmarest
api-test-base: https://api.editions.byzantini.st/ChronicleMETest/stemmarest
user-email: 
user-passphrase: 
user-role: 
tradition-name: 
tradition-lang: 
